In [1]:
x = 'a string'

In [2]:
print(x)

a string

In [3]:
x

'a string'

In [2]:
a = 1
b = 'Sukumar'
print('This is number {one} and name is {name}. Again putting the number {one}'.format(one=a,name=b))

This is number 1 and name is Sukumar. Again putting the number 1

In [3]:
nest = [1,3,5,[4,6,['target']]]

In [6]:
print(nest[3][2][0])

target

In [2]:
a = [1,2,3,5]

In [4]:
b = [] ##Declaring an empty list
for item in a:
    b.append(item**2)
print(b)

[1, 4, 9, 25]

In [5]:
#Using the same operation as above using list comprehension method
c = [item**2 for item in a]
print(c)

[1, 4, 9, 25]

In [6]:
seq = [1,2,3,4,5]

In [7]:
def times2(var):
    return var*2

In [8]:
times2(3)

6

In [9]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [10]:
#Using lambda function to achieve same objective as earlier
list(map(lambda var : var*2, seq))

[2, 4, 6, 8, 10]

In [11]:
#Filter function
list(filter(lambda num : num%2 == 0, seq))

[2, 4]

In [12]:
#Methods
string = 'My name is Sukumar'

In [13]:
print(string.upper())

MY NAME IS SUKUMAR

In [14]:
string.lower()

'my name is sukumar'

In [17]:
string.startswith('M')

True

In [18]:
list = [1,2,3]
list.pop()

3

In [19]:
print(list)

[1, 2]

In [21]:
my_dict = {'key1':'a', 'key2':'b'}
print(my_dict)

{'key1': 'a', 'key2': 'b'}

In [22]:
print(my_dict.items())
print(my_dict.values())

dict_items([('key1', 'a'), ('key2', 'b')])
dict_values(['a', 'b'])

In [24]:
#Tuple unpacking
x = [(1,2), (3,4), (5,6)]
for (a,b) in x:
    print(a)
#    print(b)

1
3
5